@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Gantari&family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header-section {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
}



.half-menu h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}



.half-menu nav ul li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.half-menu nav ul li a {
    text-decoration: none;
    font-size: 16px;
}


.banners {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.banner {
    width: 50%;
}


.banner h1 {
    font-size: 52px;
}

.link {
    background-color: #e76464;
    display: inline-block;
    border-radius: 20px;
    padding: 6px 10px;
}

.link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.link span {
    font-size: 16px;
    margin-right: 10px;
}

.banner i {
    font-size: 16px;
}


.banner img {
    background-image: url(images/Circle_design.svg);
    width: 92%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

/* linker-section start */
.linker-section {}

.container-2 {
    width: 70%;
    margin: auto;
}

.linker {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

hr {}

.image {
    align-items: center;
    display: flex;
}

.image img {}


/* collection-section */
.collection-section {
    margin: 50px 0;
}

.populer-collection {}

.collection-section h2 {
    text-align: center;
    margin: 40px 0;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 31px;
}

.populer {}

.collection {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 16px;
}

.collection img {
    width: 270px;
    height: 200px;
}

.collection h3 {
    font-size: 28px;
    margin: 10px 0;
}

.collection h4 {
    font-size: 24px;
    font-weight: 100;
    margin: 0 0;
}

.collection p {
    font-size: 16px;
}

.star {}

.star i {
    font-size: 14px;
    color: #ebb210;
}

.star span {
    font-size: 14px;
}


/* feature section */
.feature-section {}

.see-more {
    text-align: end;
    margin: 30px 0;
}

.see-more a {
    text-decoration: none;
    color: #f70707;
}

.see-more i {}

.features {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-feature {
    width: 50%;
}

.half-feature a {
    color: #f7f5f5;
    text-decoration: none;
    background-color: #eb188d;
    padding: 4px 10px;
    border-radius: 5px;
}

.half-feature p {
    margin: 0 0 20px 0;
}

.half-feature span {}

.half-feature h1 {
    font-size: 38px;
    margin: 0 0 10px 0;
}

/* footer-section */
.footer-section {
    background-color: #030d30;
    text-align: center;
}

.footer-section h3 {
    color: white;
    font-size: 24px;
}

.footer-section p {
    color: white;
    margin: 0;
    font-size: 16px;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.icon {}

.icon li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.icon a {}

.icon ul {
    padding: 0;
}